@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* side scroll bar  */
::-webkit-scrollbar {
  height: 5px;
  width: 12px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #e1b12c;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: black;
}